# By default ignore
**/*

# Add only what we need to build
!LICENSE
!Makefile
!go.mod
!go.sum
!/internal/**
!/cmd/**
!/api/**
!/build/**
!/dashboards/**
!/deployments/**
!/scripts/**/*
!/tools/*
!/tools/mk/*
!/configs/config.example.yaml
!/configs/config.ci.yaml
!/configs/bonfire.example.yaml
!/configs/cdappconfig.json
/tools/bin/*
