.DS_Store
.cicd_bootstrap.sh
secrets
.venv
bin
tmp.*/**
**/__debug_bin

*.log

configs
!configs/config.example.yaml

# File generated when running unit tests
coverage.out

# NOTE: .git directory is not listed here. `go build` needs the full `.git`
# directory to include VCS information in go binaries.
