.DS_Store
.cicd_bootstrap.sh
/secrets
/idm-ci-secrets
.venv
/bin
/tools/bin
tmp.*/**
**/__debug_bin

*.log

/configs/**
!/configs/config.example.yaml
!/configs/config.ci.yaml
!/configs/bonfire.example.yaml
!/configs/cdappconfig.json

!/configs/idmsvc_client_gen_config.yaml
!/configs/rbac_client_api.json
!/configs/rbac_client_gen_config.yaml

# File generated when running unit tests
coverage.out

