---
logging:
  level: info   # The normal level in production
  # level: trace  # Will display the sql statements, usefult for development
  # level: debug
  # Set to false to get a json output for the log
  console: true
  location: true

web:
  port: 8000

database:
  host: localhost
  port: 5432
  user: idmsvc-user
  password: idmsvc-secret
  name: idmsvc-db

metrics:
  path: "/metrics"
  port: 9000

clients:
  rbac_base_url: http://localhost:8020/api/rbac/v1
  pendo_base_url: http://localhost:8030/api/pendo/v1
  pendo_api_key: test-api-key
  pendo_request_timeout_secs: 10

app:
  name: idmsvc
  # Token expiration time in seconds
  # default: 2 hours
  token_expiration_seconds: 7200
  # The pagination default limit for the first list request
  pagination_default_limit: 10
  # The pagination max limit to avoid bigger values and long requests
  pagination_max_limit: 100
  # Allow to inject a system identity for development propose
  accept_x_rh_fake_identity: false
  # Validate API requests and response against the openapi specification
  validate_api: true
  # main secret for various MAC and encryptions like domain registration
  # token and encrypted private JWKs. You can generate a secret with:
  #     python -c "import secrets; print(secrets.token_urlsafe())"
  secret: 1w8KZbew7DzhxKKOY7O_cgVnyVWCl5dGp78uaLoxgbg
  # Enable/Disable RBAC verification
  enable_rbac: true
